
<%- include ('partials/header.ejs') %>
<%- include ('partials/main_nav.ejs') %> 


<main class="container">    
    <h2>Services</h2>
    <p>Some services I provide:</p>
    
    <!-- Portfolio Gallery Grid -->
    <div class="row">
      <div class="column">
        <div class="content">
          <img src="Assets/images/service1.jpg" alt="General Programming" style="width:100%">
          <h3>General Programming</h3>
          <p>Provide programming solutions as required (C#, Python, Java, ...)</p>
        </div>
      </div>
      <div class="column">
        <div class="content">
          <img src="Assets/images/service2.jpg" alt="Web Development" style="width:100%">
          <h3>Web Development</h3>
          <p>Strong understanding of the MeanStack architecture and its components, including MongoDB, ExpressJS, and NodeJS.</p>
        </div>
      </div>

      <div class="column">
        <div class="content">
          <img src="Assets/images/service3.jpg" alt="Mobile Apps" style="width:100%">
          <h3>Mobile App</h3>
          <p>Design Mobile Appliction with Java or C#</p>
        </div>
        </div>
    </div>
</main>

<%- include ('partials/bottom_nav.ejs') %>
<%- include ('partials/footer.ejs') %>